@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
*,
html,
body {
    margin: 0;
    padding: 0;
    font-size:.95rem;
    font-family: "Montserrat", Serif;
}
h3{
    font-size:1.2rem;
    font-weight: normal;
    border-bottom: 2vh;

}

button{
    padding: 1% 5%;
    border-radius: .6vw;
    text-transform: uppercase;
    border: 1px solid rgb(245, 20, 125);
    font-size: 0.8rem;
    width: 100%;
    color: rgb(253, 253, 255);
}
.primary {
    background-color: rgb(245, 20, 125);
    box-shadow: 0 2px 2px rgba(190, 72, 127, 0.53);
}
.secondary{
    background-color: #F0F2F9;
    color:#36B1FF;
    border:none;
}
.cancel{
    background-color: red!important;

}
.icon{

    padding: 1%;
    border-radius:50%;
    width:fit-content;
    height:fit-content;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;

    svg path, svg g {
        stroke: #07104E;
    }

}
.icon:hover{
    background-color: rgba(255, 194, 223, 0.68);
    border: transparent;
    svg path, svg g {
        stroke: rgb( 255, 52, 147) ;
    }

}
.icon:active{
    background-color: rgba(255, 194, 223, 0.68);
    border: rgb( 255, 52, 147) 1px solid ;
    svg path, svg g {
        stroke: rgb( 255, 52, 147) ;
    }
}
.upload{
    color: #07104e;
    background-color: transparent;
    border-color: #07104e;
    transform: scale(95%);
    transition: all 0.3s ease;
}
/*form layout*/
.form {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 60%;
    gap: 2vh;
    justify-content: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.form-field {
    display: flex;
    width: 90%;
    margin: 1%;
    flex-direction: column;
    flex: 1;
    gap: 2vh;
    align-self: center;

    span {
        align-self: flex-end;
        font-size: 14px;
    }

}
input,select, textarea, option {
    padding: 0.5vw 0.8vw;
    background-color: rgb(238, 239, 248);
    border: 1px solid rgb(245, 20, 125);
    border-radius: .4vw;
    height: 4vh;
    flex: 1;
}
.form-field label{
    flex: 1;
}
.form-row{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}
.form-row input {
    width: 100%; /* Makes inputs expand */
    max-width: 100%; /* Adjust this based on your design */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}
footer{
    width:100%;

    background: url("../image/footer.svg");
    height:25%;
    background-size: cover;
    z-index: -2;
}