@import url(default.css);


.headerContainer {
    width: 100%;
}
.header {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", serif;
    color: rgba(103, 43, 71, 0.81);
    align-content: center;
}

.search-Header {
    width: 30vw;
    display: flex;
    gap: 40px;
    align-items: center;
    position: relative;

}

.search-Header input {
    width: 100%;
    padding: 4px 12px;
    height:50px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(240, 242, 249);
    box-shadow: 0 2px 4px rgba(59, 55, 55, 0.407);

}

.search-Header svg{
    position: absolute;
    right: 4px;
    top: 25%;
}

.notification {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;

}

.loggedProfile {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(.75);

}