@import url(default.css);



.header {
    margin-top: 3vh;
    display: flex;
    gap: 15vw;
    align-items: center;
    font-family: "Inter", serif;
    color: rgba(103, 43, 71, 0.81);
    align-content: center;
}

.search-Header {
    width: 30vw;
    display: flex;
    gap: 40px;
    align-items: center;

}

.search-Header input {
    width: 100%;
    padding: .5vw;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(240, 242, 249);
    box-shadow: 0 2px 4px rgba(59, 55, 55, 0.407);

}

.notification {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;

}

.loggedProfile {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2vw;
}

.profile-picture {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    display: flex;
    gap: 3vh;
}