.mainBody {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    gap: 5vh;
    right: 10%;
    margin-left: 30%;

}

.adminBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10%;
    height: 100vw;

}

.section {
    font-size: 18px;
    display: none;
    align-content: center;
    justify-content: center;
    gap: 10%;
    /* Hide all sections by default */
}

.section.active {
    display: flex;
    /* Display the active section */
}