@import "login.css";
.mainBody {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    gap: 5vh;
    box-shadow: 2px 1px 1px rgba(140, 137, 137, 0.4) inset;
    align-content: center;
    padding:1% 5%;
    border-radius:  20px 20px 0 0;
    margin: 2% 0 0 18%;
    background-color: transparent;

}


.adminBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10%;
    height: fit-content;

}

.section {
    font-size: 18px;
    width: 100%;
    display: none;
    align-content: center;
    justify-content: center;
    gap: 10%;
    flex-direction: row;
}

.section.active {
    display: flex;
    /* Display the active section */
}

.main {
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     gap: 5vh;

 }
/* Dashboard*/
.stats {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10%;
    justify-content: center;

}

.stats div {
    border-radius: 8px;
    flex: 1;
    gap:2vh;
    height: 31vh;
    padding: 3% 2%;
    align-items: center;
    box-shadow: 0 2px 5px rgba(87, 86, 86, 0.499);

    h6{
        font-weight: normal;
    }

    p{
        width: 100%;
        align-items: center;
        font-size: 4rem !important;
        padding: 15% 5%;
    }
    span{
        font-size: 0.8rem;

    }

}

.stats div:nth-child(1) {
    background: linear-gradient(180deg, rgba(153, 249, 118, 0.623) 15%, rgba(236, 251, 230, 0.912) 80%);
    color: #0F5E1B;


}

.stats div:nth-child(2) {
    background: linear-gradient(180deg, rgba(213, 180, 255, 0.78) 5%, rgba(238, 224, 255, 0.856) 71%);
    color: rgb(95, 58, 165);
}

.stats div:nth-child(3) {
    background: linear-gradient(180deg, rgba(164, 254, 249, 0.816) 0%, rgba(229, 255, 254, 0.834) 69%);
    color: rgb(21, 124, 126);

}

.calChart {
    display: flex;
    flex-direction: row-reverse;
    gap: 3vw;
    width: 100%;

}

.calChart div {
    justify-content: center;
    background-color: rgb(240, 242, 249);
    border-radius: 8px;
}


.barchart-container {
    flex:2;
    height: 100%;
    padding:1%;
    align-content: center;

}
canvas{
    height: 100% !important;
    width:90% !important;
}

.calendar {
    flex:1;
    height: 100%;
    font-size:.7em;
    padding:1%;
    cursor: pointer;
    color:#07104e;

}
.calendar-header {
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
    width: 100%;
    gap:8vw;
    padding: 2% 0;
    border-bottom: 1px solid #07104e;
    border-radius: 0 !important;
    font-size: 1em;
}
.calendar-month{
    font-weight: normal;
}
.calendar-controls {
    display: flex;
}
.calendar-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    color: #07104e;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
.calendar-controls button:hover {
    color: rgb( 255, 52, 147) !important;
    text-shadow: 5px 5px 2px rgba(244, 148, 193, 0.49);

}

.calendar-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr); /* Ensure equal row heights */
    grid-template-columns: repeat(7, 1fr); /* 7 columns for the week */
    gap: 5px;

}

.calendar-day {
    padding: 5px;
    text-align: center;
    border: 1px solid #eee;
    display: flex; /* Use flexbox for vertical alignment */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    color: rgba(2, 2, 68, 0.59) !important;

}
.today{
    color: rgb( 255, 52, 147) !important;


}
.selected {
    background-color: rgba(244, 148, 193, 0.49) !important; /* Or any style you prefer */
    color: #07104e;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap:1vh;
    border: 1px solid rgb( 255, 52, 147);
    box-shadow: 1px 2px 5px rgba(244, 148, 193, 0.49);
    padding: 10px;
    margin-top: 10px;


}
.event-details p{
    font-size: .6em !important;
}

.event-details h3 {
    margin-top: 0;
    color:rgb( 255, 52, 147);
    font-size: .8em;
}


/* add staff*/
.search2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;

    input {
        padding: 5px;
        border: none;
        border-radius: 20px;
        background-color: rgb(240, 242, 249);

        width: 30%
    }

    button {
        width: fit-content;
    }



}

/*Table styling*/
.Table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    color: #07104e;


    tbody {
        padding: 5px;
    }



}
thead{
    background-color: rgb(240, 242, 249);
    border-radius: 8px;
    width: max-content;



}
th,td {
    padding: 1%;
    margin:2vh;
    text-align: center;
    align-items: center;
    width:15vw;
    text-wrap: nowrap;


}


#labRequestTable td button{
    width: fit-content !important;
    text-transform: none;
}
#labRequestTable .actions{
    width: 19vw;
}
#labRequestTable td:nth-child(2){
    width:20vw;
}

#labResultTable td:first-child{
    width: 1vw !important;
}
#labResultTable input{
    width: 10vw;
    overflow-y:scroll ;
}
tr{
    margin-top: 2%;
}

thead td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

thead td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
/* WHens role is doctor hiding doctor column*/
.role-doctor .doctor-column {
    display: none;
}
/*Action column styling*/
td.actions{
    display: flex;
    flex-direction: row;
    gap: 1vw;


}
td.actions button{
    flex:1 !important;
}

.edit{
    border: none !important;
    background-color: transparent !important;
    svg{
        color: #36B1FF;
    }
}
.delete{
    border: none !important;
    background-color: transparent !important;
    color: red;
    svg{
        color: red;
    }

}
/*edit modal styling*/

.modal-content h3{
    color: rgb( 255, 52, 147);

}
.modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    padding: 2%;
    gap:40%;

}
.modal-header h3{
    text-wrap: nowrap;
}
.modal-header div{

    width:fit-content;
    flex:6;
    button{
        width:30%;
    }
}
/* Close button (top-right corner) */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 5%;
}


.action-buttons{
    display: flex;
    gap:2vh;
    flex-direction: column;

}
option {
    background-color: white;
    padding: 10px;  /* Note: Padding may not work in all browsers */
}
/*Prescription*/
.medication-entry {
    display: flex;
    flex-direction: column;
    gap:2vh;

}

button.remove-medication {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Button styling */
button#addMedicationBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
/*alert box*/
.message{
    width:80%;
    background-color: rgba(255, 194, 223, 0.68);
    color: rgb( 255, 52, 147);
    padding:2%;
    border-radius: 8px;
    align-self: center;

}
.lab-test-entry{
    margin-bottom: 10%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 3vw;

}

#labDetailsModal {
    display: none;
    position: relative;
    align-self: center;
    background-color: #fcfdfe;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 45%;
}

#labDetailsModal div {
    margin-bottom: 2%;
}

#labDetailsModal button {
    margin-top: 10px;
}
.modal-body{
    margin: 10% 2%;
    width: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none; /* Initially hidden */
    background-color: rgba(0, 0, 0, 0.2); /* Optional semi-transparent background */
}

.blur {
    backdrop-filter: blur(5px); /* Use backdrop-filter for better performance */
}
.test-container{
    background-color:rgb(240, 242, 249) ;
    border-radius: 8px;
    padding: 2%;

}
#labTestTable input{
    width: 80%;
}
#labTest .form-row label{
    flex:2;
    text-wrap: nowrap;
}
#labTest .form-row input{
    flex:2;
}

.Table input, .Table select{
    width:80%;
    height:5vh;
}
.updateProfile{
    width:90%;

}
.updateProfilePicture{
    display: flex;
    flex-direction: row;
    width:70%;
    height:10%;
    align-items: center;
    gap:3vw;
    img{
        width:100px;
        height: 100px;
        border-radius: 50%;

    }
    button{
        font-size:.7em;
        width:40%;
        align-items: center;

    }
}
