@import url(default.css);

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FDFDFF;

}

h1{
    font-size: 1.5rem;
    text-align:left;
}
.container {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    align-items: center;
    align-self: center;
    justify-items: center;
    gap: 4vh;
    width: 100%;

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex: 1;
    justify-items: center;
    align-items: center;
}


.form-field input {
    height: 4vh !important;
}

.form-field span {

    text-align: right;
    font-size: 16px;
}

.loginBtn {
    height: 6vh;
}

h1 {
    width: fit-content;
    text-align: left;

}
.message-container {
    text-align: center;
    margin:2% 0;
    padding: 2%;
    width:85%;
    align-self: center;
    justify-content: center;
    border-radius: 8px;
    display: none;
}
.error {
    background-color: rgba(255, 0, 21, 0.2);
    color: #91020e;
    border: 1px solid #fb031d;
}
.success {
    background-color: rgba(1, 255, 64, 0.2);
    color: #024d11;
    border: 1px solid #03db34;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Dark background */
    display: none;  /* Initially hidden */
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;

}

/* Blur the background */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


/* Modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 40%;
    width: fit-content;
    height: 60vh;
    position: relative;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap:2vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
}
.modal-content h3{
    color: rgb( 255, 52, 147);

}
.close {
     position: absolute;
     top: 10px;
     right: 10px;
     font-size: 30px;
     color: #aaa;
     cursor: pointer;
 }
form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 5%;
}
