html,body{
    overflow-x: hidden;
}
.card {
    align-items: center;

    a{
        align-content: center;
        text-decoration: none;
        img{
            align-self: center;
        }
        h6{
            width:100%;
            text-align: center;

        }
    }
}
.myHeader{
    position: sticky;
    top:1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
    height:fit-content;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    align-items: center;
    background-color: #07104e;
    color: #f3f3f3;
    width:100%;

    .row {

        div:first-child{
            flex:1;

        }
        div:nth-child(2){
            flex:4;
        }
    }

}
.container{
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-bar {
    padding: 5px;
    width: 80%;
    border: none;
    border-radius:12px;
    font-size: 1em;
}
.back{
    all:unset;
    background-color: transparent;
    svg path{
        color:white;

        stroke:white;
    }
}
.navFix{
    position: fixed;
    bottom:0;
    flex-direction: row;
    width:100vw;
    align-items: center;
    background-color: #ffffff;

}
.navFix .col{
    flex:1;
}
.mainScreen{

    overflow: scroll;
    align-items: center;
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;


}
form{
    border-radius: 8px;

}
button{
    padding: 1% 5%;
    border-radius: .6vw;
    text-transform: uppercase;
    border: 1px solid rgb(245, 20, 125);
    font-size: 0.8rem;
    width: 100%;
    color: rgb(253, 253, 255);
}
.primary {
    display: flex;
    background-color: rgb(245, 20, 125);
    box-shadow: 0 2px 2px rgba(190, 72, 127, 0.53);
    align-items: center;
    justify-content: center;
    gap:5%;
    text-wrap: nowrap;
}
.secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    text-wrap: nowrap;
    background-color: #F0F2F9;
    box-shadow: 0 1px 2px rgba(146, 206, 244, 0.3);
    color:#36B1FF;
    border:none;
}
.tertiary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    text-wrap: nowrap;
    background-color: #F0F2F9;
    box-shadow: 0 1px 2px rgba(72, 132, 132, 0.44);
    color:#008080;
    border:none ;

}
.cancel {
    background-color: red !important;
}
#page-title h2{

     text-align: center;

}
.card div{
    text-wrap: nowrap;

}
.navCard{
    background-color: #f5f9ff;

}
.card-title{
    text-decoration: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Dark background */
    display: none;  /* Initially hidden */
    z-index: 9999;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    transition: all 0.3s ease;

}

/* Blur the background */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


/* Modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 40%;


    position: relative;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap:2vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
}
.modal-content h3{
    color: rgb( 255, 52, 147);

}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}