@import url(default.css);

.register {
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 100vh;
    display: flex;
    gap: 3vw;
    flex-direction: row;
    align-self: center;
    background-color: #FDFDFF;


}

.right {
    margin: 1vw;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;


    img {
        width: 100%;
        height: 100%;
        border-radius: 1vw;


    }

}

.form-container {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 2vw;

}

.form-field button {
    margin-top: 1vh;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 94, 116, 0.56);
    backdrop-filter: blur(3px);
    z-index: 9;
}

.popup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    border-radius: 4px;
    padding: 5vw;

    color: #07104e;
    display: none;
    z-index: 10;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;


}