@import url(default.css);
@import url(spinner.css);

.register {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    align-self: center;
    background-color: #FDFDFF;
}
.right {
    margin: 1vw;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 97%;
img{
    width:100%;
    height: 100%;
    filter: brightness(.75);
    border-radius: 1vw;
    object-fit: cover;
}
 }
.left{
    margin-top: 2%;
    width: 60%;
    padding-right:2%;
}
.logoLogin{
    height:15%;
    margin-top: 1%;
    width:40%;
    object-fit: cover;
    padding-left: 2%;

}
.form{
    width: 100%;
}
.form-container {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 2vw;
    width:100% !important;
}
.form-field button {
    margin-top: 1vh;
}
.popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 94, 116, 0.56);
    backdrop-filter: blur(3px);
    z-index: 9;

}

.popup-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 5vw;
    color: white;
    display: none;
    z-index: 10;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height:60vh;


}
@media screen and (max-width: 767px){
    .register{
        width: 100%;
        padding:2%;
    }
    .right{
        display: none;
    }
    .left{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .form{
        display: flex;
        width:90%;
        padding:5%;
        align-items: center;
    }
    .form-field{
        gap:1vh;
    }
    .form-container{
        gap:2vh;

    }
    input, select, textarea, option{
        border-radius: 1vw;
        flex: none !important;
    }
}