<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Medical Record</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="/css/default.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/patientHome.css">
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="manifest" href="/manifest.json">

    <style>



        .upload:hover{
            color: #07104e;
            border: none;
            background-color: rgba(7, 16, 78, 0.29);
            box-shadow:0 1px 2px rgba(50, 49, 49, 0.28);
            transform: scale(100%);

        }

    </style>

</head>
<body>

<div class="container">
    <div class="row">
    <div class="myHeader p-2" th:include="userHome::header"></div>

    <div class="d-flex flex-column mainScreen">


            <div class="d-flex flex-column py-2 my-5" id="generalInformation" th:include="userHome::general" ></div>

            <div class="row mb-4  w-100">
                <button class="primary w-100" onclick="openAddMedicalHistory()">Add Medical Record</button>
            </div>
    <div class="row w-100" id="medicalBody">
    <form id="medical-record-form" action="/api/medicalRecords/history" method="post" enctype="multipart/form-data" style="display: none;">
        <div class="mb-3">
            <label for="diagnosedDate" class="form-label">Diagnosed Date</label>
            <input type="date" class="form-control" id="diagnosedDate" name="diagnosedDate" required>
        </div>

        <div class="mb-3">
            <label for="conditionName" class="form-label">Condition Name</label>
            <input type="text" class="form-control" id="conditionName" name="conditionName" placeholder="e.g., Hypertension" required>
        </div>

        <div class="mb-3">
            <label for="isTreated" class="form-label">Is Treated?</label>
            <select class="form-select" id="isTreated" name="isTreated">
                <option value="">Select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="ongoing">Ongoing</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="file-upload" class="form-label">Attach Scans/Blood Test Reports</label>
            <button type="button" class="upload w-100" onclick="document.getElementById('file-upload').click()">Upload Files</button>
            <input type="file" class="form-control d-none" id="file-upload" name="scans" accept=".pdf,.jpg,.png" multiple>

            <div id="file-preview" class="mt-3"></div>
        </div>
        <div class="d-flex justify-content-between py-3">
            <button class="cancel btn-secondary" onclick="closeMedicalForm()">Cancel</button>
            <button  type="submit" id="save-record-btn" class="primary btn-primary">Save Record</button>
        </div>

    </form>

        <div class="col sm-12" id="viewMedicalHistory">

            <div class="d-flex justify-content-center mb-3" id="filterButtonsContainer">
                <input type="date" id="startDate" placeholder="Start Date" class="mx-2">
                <input type="date" id="endDate" placeholder="End Date" class="mx-2">
                <button class="filterBtnOutline mx-2" onclick="filterMedicalRecords('no', this)">No</button>
                <button class="filterBtnOutline mx-2" onclick="filterMedicalRecords('ongoing', this)">Ongoing</button>
                <button class="filterBtnOutline mx-2" onclick="filterMedicalRecords('yes', this)">Yes</button>
            </div>
            <div id="medicalHistory">

            </div>

            </div>


    </div>

        <div class="modal" id="deleteConfirmationModal">
            <div class="modal-overlay"></div>
            <div class="modal-content mx-2" style="width:fit-content;">
                <p>Are you sure you want to delete this medical record?</p>
                <div class="d-flex w-100" style="gap:5%;">
                <button type="button" class="btn primary cancel-delete-btn" style="flex:1;">Cancel</button>
                <button type="button" class="btn btn-outline-danger" style="flex:1;" id="confirmDeleteBtn">Delete</button>
                    </div>
            </div>
        </div>

        <div class="d-flex justify-content-evenly navFix" th:include="userHome::navBar" >

        </div>


    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
    const form = document.getElementById('medical-record-form');
    const fileInput = document.getElementById('file-upload');
    const filePreview = document.getElementById('file-preview');
    const saveRecordBtn = document.getElementById('save-record-btn');


    const deleteConfirmationModal = document.getElementById('deleteConfirmationModal');
    const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
    const cancelDeleteBtns = document.querySelectorAll('.cancel-delete-btn');
    let recordIdToDelete = null;

    if (confirmDeleteBtn) {
        confirmDeleteBtn.addEventListener('click', () => {
            if (recordIdToDelete) {
                deleteMedicalRecordRequest(recordIdToDelete);
                recordIdToDelete = null; // Reset
                closeDeleteConfirmationModal();
            }
        });
    }

    cancelDeleteBtns.forEach(button => {
        button.addEventListener('click', closeDeleteConfirmationModal);
    });

    function showDeleteConfirmationModal(recordId) {
        recordIdToDelete = recordId;
        deleteConfirmationModal.style.display = "flex";
    }

    function closeDeleteConfirmationModal() {
        deleteConfirmationModal.style.display = "none";
        recordIdToDelete = null; // Reset when closing
    }

    fileInput.addEventListener('change', () => {
        filePreview.innerHTML = '';
        Array.from(fileInput.files).forEach((file, index) => {
            const fileItem = document.createElement('div');
            fileItem.className = 'alert alert-secondary d-flex justify-content-between align-items-center';
            fileItem.innerHTML = `
          <span>${file.name}</span>
          <button class="btn btn-close" aria-label="Remove" onclick="removeFile(${index})"></button>
        `;
            filePreview.appendChild(fileItem);
        });
    });

    function removeFile(index) {
        const files = Array.from(fileInput.files);
        files.splice(index, 1);
        const dataTransfer = new DataTransfer();
        files.forEach((file) => dataTransfer.items.add(file));
        fileInput.files = dataTransfer.files;
        filePreview.removeChild(filePreview.childNodes[index]);
    }


    document.addEventListener("DOMContentLoaded", function () {
        fetchMedicalHistory();
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('Service Worker registered with scope:', registration.scope);
                    })
                    .catch(error => {
                        console.error('Service Worker registration failed:', error);
                    });
            });
        } else {
            console.log('Service Workers are not supported by this browser.');
        }
        fetchMedicalHistory();
        setupMedicalRecordSearch();
    });

    function fetchMedicalHistory(userId = null) {
        let url = "api/medicalRecords/getByUserId";
        if (userId) {
            url += `?userId=${userId}`;
        }

        fetch(url, {
            method: "GET",
            credentials: "include" // Ensures session data is sent
        })
            .then(response => {

                if (!response.ok) {
                    throw new Error("Failed to fetch medical history");
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                populateMedicalHistory(data);
            })
            .catch(error => console.error("Error fetching medical history:", error));
    }
    const upcomingButton = document.querySelector('#filterButtonsContainer button:nth-child(2)'); // Assuming "Upcoming" is the second button

    if (upcomingButton) {
        upcomingButton.className = 'filterBtn mx-2'; // Apply the selected style
    }
    // Call the function without userId (session will be used)
    document.addEventListener("DOMContentLoaded", function () {


    });


    function populateMedicalHistory(medicalRecords) {
        const historyContainer = document.getElementById("medicalHistory");
        historyContainer.innerHTML = ""; // Clear existing content

        if (!medicalRecords || medicalRecords.length === 0) {
            historyContainer.innerHTML = "<p>No medical history available.</p>";
            return;
        }

        medicalRecords.forEach(record => {
            const recordElement = document.createElement("div");
            recordElement.className = "card mb-3 navCard";

            let fileContent = "";
            if (record.scans) {
                const scans = record.scans.split(";").map(scan => scan.trim());
                fileContent = scans.map(scan => {
                    const fileExtension = scan.split('.').pop().toLowerCase();
                    if (["jpg", "png", "jpeg"].includes(fileExtension)) {
                        return `<img src="/image/${scan}" class="img-thumbnail m-1" style="width: 100px; height: 100px;" alt="Scan" onclick="openImageInNewTab('/image/${scan}')">`;
                    } else {
                        return `<a href="/image/${scan}" target="_blank" class="btn btn-sm btn-link">${scan}</a>`;
                    }
                }).join("");
            }

            recordElement.innerHTML = `
            <div class="card-body ">
                <div class="card-info">
                    <h5 class="card-title">${record.conditionName}</h5>
                    <p class="card-text">Diagnosed Date ${record.diagnosedDate}</p>
                    <p class="card-text">Treated ${record.isTreated}</p>
                    <p class="card-text cardText">Treatment Plan ${record.treatmentPlan || 'N/A'}</p>
                    ${record.doctor ? `<p class="card-text ">Diagnosed By: ${record.doctor.staffName}</p>` : ""}
                    <div>${fileContent}</div>
                                    <button class="btn btn-danger delete-btn" data-record-id="${record.recordID}">Delete</button>

                </div>
            </div>
        `;
            historyContainer.appendChild(recordElement);

            const deleteButton = recordElement.querySelector('.delete-btn');
            if (deleteButton) {
                deleteButton.addEventListener('click', function() {
                    recordIdToDelete = this.dataset.recordId;
                    showDeleteConfirmationModal(recordIdToDelete);
                });
            }
        });
    }
    function openImageInNewTab(imageUrl) {
        window.open(imageUrl, "_blank");
    }
    function openAddMedicalHistory(){
        document.getElementById('medical-record-form').style.display="block";
    }function closeMedicalForm(){
        document.getElementById('medical-record-form').style.display="none";
    }

    function deleteMedicalRecordRequest(recordId) {
        fetch(`/api/medicalRecords/delete/${recordId}`, {
            method: 'DELETE',
            credentials: 'include'
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorData => {
                        const errorMessage = errorData.message || 'Failed to delete medical record.';
                        Toastify({
                            text: errorMessage,
                            duration: 3000,
                            backgroundColor: "rgba(255, 200, 200)",
                            gravity: "top",
                            position: "right",
                            borderRadius: "8px",
                            style: {
                                color: "rgb(167, 6, 14)",
                                borderRadius: "8px"
                            },
                            onClick: function () {}
                        }).showToast();
                        throw new Error('Deletion failed');
                    });
                }
                return response.json();
            })
            .then(data => {
                Toastify({
                    text: 'Medical record deleted successfully.',
                    duration: 3000,
                    backgroundColor: "rgba(200, 255, 200, 0.5)",
                    gravity: "top",
                    position: "right",
                    borderRadius: "8px",
                    style: {
                        color: "rgb(6, 167, 14)",
                        borderRadius: "8px"
                    },
                    onClick: function () {}
                }).showToast();
                fetchMedicalHistory(); // Reload the medical history
            })
            .catch(error => {
                console.error('Error deleting medical record:', error);
                Toastify({
                    text: 'An error occurred while deleting the medical record.',
                    duration: 3000,
                    backgroundColor: "rgba(255, 200, 200, 0.5)",
                    gravity: "top",
                    position: "right",
                    borderRadius: "8px",
                    style: {
                        color: "rgb(167, 6, 14)",
                        borderRadius: "8px"
                    },
                    onClick: function () {}
                }).showToast();
            });
    }
    if (saveRecordBtn) {
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(form);

            fetch('/api/medicalRecords/history', {
                method: 'POST',
                credentials: 'include',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(errorText => {
                            Toastify({
                                text: 'Failed to add medical record: ' + errorText,
                                duration: 3000,
                                backgroundColor: "rgba(255, 200, 200)",
                                gravity: "top",
                                position: "right",
                                borderRadius: "8px",
                                style: {
                                    color: "rgb(167, 6, 14)",
                                    borderRadius: "8px"
                                },
                                onClick: function () {
                                }
                            }).showToast();
                            throw new Error('Failed to add medical record');
                        });
                    }
                    return response.text(); // Or response.json() if your backend sends JSON on success
                })
                .then(data => {
                    Toastify({
                        text: 'Medical record added successfully.',
                        duration: 3000,
                        backgroundColor: "rgba(200, 255, 200)",
                        gravity: "top",
                        position: "right",
                        borderRadius: "8px",
                        style: {
                            color: "rgb(6, 167, 14)",
                            borderRadius: "8px"
                        },
                        onClick: function () {
                        }
                    }).showToast();
                    closeMedicalForm(); // Hide the form after successful submission
                    fetchMedicalHistory(); // Reload the medical history
                })
                .catch(error => {
                    console.error('Error adding medical record:', error);
                    Toastify({
                        text: 'An error occurred while adding the medical record.',
                        duration: 3000,
                        backgroundColor: "rgba(255, 200, 200, 0.5)",
                        gravity: "top",
                        position: "right",
                        borderRadius: "8px",
                        style: {
                            color: "rgb(167, 6, 14)",
                            borderRadius: "8px"
                        },
                        onClick: function () {
                        }
                    }).showToast();
                });
        });
    }

    let selectedFilterStatus = null; // Track selected filter status

    function filterMedicalRecords(status, clickedButton, isSearch = false, searchTerm = '') {
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');

        if (!isSearch) {
            const buttons = document.querySelectorAll('#filterButtonsContainer button');
            buttons.forEach(button => {
                button.className = 'filterBtnOutline mx-2';
            });

            if (clickedButton) {
                if (status === selectedFilterStatus) { // Check if already selected
                    selectedFilterStatus = null; // Clear filter status
                    startDateInput.value = '';
                    endDateInput.value = '';

                } else {
                    clickedButton.className = 'filterBtn mx-2';
                    selectedFilterStatus = status; // Set filter status

                }
            }
        } else {
            const buttons = document.querySelectorAll('#filterButtonsContainer button');
            buttons.forEach(button => {
                button.className = 'filterBtnOutline mx-2';
            });
        }

        const startDate = startDateInput.value;
        const endDate = endDateInput.value;

        fetch('/api/medicalRecords/getByUserId', {
            method: 'GET',
            credentials: 'include'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Failed to fetch medical history");
                }
                return response.json();
            })
            .then(data => {
                let filteredRecords = data;

                if (startDate && endDate) {
                    filteredRecords = filteredRecords.filter(record => {
                        const recordDate = new Date(record.diagnosedDate);
                        const start = new Date(startDate);
                        const end = new Date(endDate);
                        return recordDate >= start && recordDate <= end;
                    });
                }

                if (selectedFilterStatus && !isSearch) { // Use selectedFilterStatus
                    filteredRecords = filteredRecords.filter(record => record.isTreated === selectedFilterStatus);
                }

                if (isSearch && searchTerm) {
                    filteredRecords = filteredRecords.filter(record => {
                        const conditionName = record.conditionName.toLowerCase();
                        return conditionName.includes(searchTerm);
                    });
                }
                populateMedicalHistory(filteredRecords);
            })
            .catch(error => console.error("Error fetching medical history:", error));
    }


    document.getElementById('startDate').addEventListener('change', function() {
        filterMedicalRecords(); // Call filter without status or clickedButton
    });

    document.getElementById('endDate').addEventListener('change', function() {
        filterMedicalRecords(); // Call filter without status or clickedButton
    });
    function setupMedicalRecordSearch() {
        const searchInput = document.getElementById('search'); // Assuming your search input has id="search"
        if (searchInput) {
            searchInput.addEventListener('input', function () {
                const searchTerm = searchInput.value.toLowerCase();
                filterMedicalRecords(null, null, true, searchTerm); // Call with isSearch=true
            });
        }
    }
z
</script>
</body>
</html>
