<section  xmlns:th="http://www.thymeleaf.org" th:fragment="adminDashboard">
    <section class="stats">
        <div>
            <h6>Total Patients</h6>
            <p id="totalPatients">0</p>
        </div>
        <div>
            <h6>New Patients</h6>
            <p id="newPatients">0</p>
        </div>
        <div>
            <h6>Total Appointments</h6>
            <p id="totalAppointments">0</p>
        </div>
    </section>

    <section class="calChart">
        <div class="calendar">
            <div class="calendar-header">
                <span class="calendar-month" id="currentMonth"></span>
                <div class="calendar-controls">
                    <button id="prevMonth">&lt;</button>
                    <button id="nextMonth">&gt;</button>
                </div>
            </div>
            <div class="calendar-grid" id="calendarGrid">
            </div>
        </div>
        <div class="barchart-container">
        <canvas class="barchart" ></canvas>
        </div>
    </section>
</section>

<section  xmlns:th="http://www.thymeleaf.org" th:fragment="doctorDashboard">
    <section class="stats">
        <div>
            <h6>Total Patients</h6>
            <p id="totalPatientsDoc">0</p>
        </div>
        <div>
            <h6>Appointments Today</h6>
            <p id="appToday">0</p>
        </div>
        <div>
            <h6>Total Appointments</h6>
            <p id="totalAppointmentsDoc">0</p>
        </div>
    </section>

    <section class="calChart">
        <div class="calendar doctor-calendar">
            <div class="calendar-header">
                <span class="calendar-month" id="currentMonthDoc"></span>
                <div class="calendar-controls">
                    <button id="prevMonthDoc">&lt;</button>
                    <button id="nextMonthDoc">&gt;</button>
                </div>
            </div>
            <div class="calendar-grid" id="calendarGridDoc">
            </div>
        </div>
        <div class="barchart-container">
            <canvas id="doctorAgeGroupChart" class="barchartDoc" ></canvas>
        </div>
    </section>
</section>


<section  xmlns:th="http://www.thymeleaf.org" th:fragment="labTech">
    <section class="stats">
        <div>
            <h6>Total Tests</h6>
            <p id="totalTests">0</p>
            <span>Total Number of Tests</span>
        </div>
        <div>
            <h6>Pending Lab Requests</h6>
            <p id="pendingRequest">0</p>
            <span>Total Number of Pending Tests</span>
        </div>
        <div>
            <h6>Urgent Lab Requests </h6>
            <p id="urgentPending">0</p>
            <span> Urgent and Pending Lab Request</span>
        </div>

    </section>

    <section>
        <table class="Table">
            <thead>
            <tr>
                <td>Order No</td>
                <td> Patient</td>
                <td> Doctor</td>
                <td> Order Date</td>
                <td>Actions</td>
            </tr>

            </thead>
            <tbody id="urgentLabOrdersTableBody">

            </tbody>
        </table>

        <div class="modal" id="urgentLabDetailsModal" style="display: none;">
            <div class="modal-content">
                <span class="closeUrgentLabDetails close" onclick="closeUrgentDetailsModal()">&times</span>
                <h3> Test List</h3>
                <div id="urgentDetails">
            </div>
            </div>
        </div>

        <div id="urgentLabResults" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="closeUrgentLabResults close" onclick="closeUrgentResultsModal()">&times</span>
                <h3>Add Lab Results</h3>
                <div id="urgentPatientDoc">


                </div>
                <div class="labResult-message"></div>
                <table class="Table">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Test Name</td>
                        <td>Unit</td>
                        <td>Normal Range</td>
                        <td>Result Value</td>
                        <td>Notes</td>


                    </tr>
                    </thead>
                    <tbody id="UrgentLabResultTable">

                    </tbody>
                </table>
                <button id="urgentSingleResult" style="display: none;" class="primary" >Submit Results</button>

            </div>
        </div>
    </section>
    <script src="js/labTechDashboard.js"></script>
</section>

<section  xmlns:th="http://www.thymeleaf.org" th:fragment="staff">

    <div class="search2">
        <button class="primary" id="openStaffFrom" onclick="openAddStaffForm()"> Add Staff</button>
    </div>
        <div class="filters">
            <label for="roleFilter">Filter by Role:</label>
            <select id="roleFilter">
                <option value="">All Roles</option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_DOCTOR">Doctor</option>
                <option value="ROLE_LAB TECHNICIAN">Lab Technician</option>
            </select>
        </div>




        <table class="Table">
            <thead>
                <tr>
                    <td data-sort="name" data-order="asc">Name <span class="sort-icon"></span></td>
                    <td data-sort="role" data-order="asc">Role <span class="sort-icon"></span></td>
                    <td data-sort="email" data-order="asc">Email <span class="sort-icon"></span></td>
                    <td data-sort="phone" data-order="asc">Phone <span class="sort-icon"></span></td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="staffTableBody" >

                
            </tbody>
        </table>
    <div id="softDeleteModal" class="modal" >
        <div class="modal-content" style="height:fit-content;">
            <span class="close-button" id="closeSoftDeleteModalBtn">&times;</span>
            <h2>Confirm Soft Delete</h2>
            <p>Are you sure you want to delete the staff member: <strong id="modalStaffName"></strong>?</p>
            <p>This action will not  delete the account.</p>
            <div class="action-buttons">
                <button id="confirmSoftDeleteBtn" class="remove-medication">Confirm Delete</button>
                <button id="cancelSoftDeleteModalBtn" class="secondary">Cancel</button>
            </div>
        </div>
    </div>

    <div class="main" th:include="addStaff::addStaffForm"></div>

    <script src="js/dashboard.js"></script>

</section>


