<section  xmlns:th="http://www.thymeleaf.org" th:fragment="adminDashboard">
    <section class="stats">
        <div>
            <h6>Total Patients</h6>
            <p id="totalPatients">0</p>
        </div>
        <div>
            <h6>New Patients</h6>
            <p id="newPatients">0</p>
        </div>
        <div>
            <h6>Total Appointments</h6>
            <p id="totalAppointments">0</p>
        </div>
    </section>

    <section class="calChart">
        <div class="calendar">
            <div class="calendar-header">
                <span class="calendar-month" id="currentMonth"></span>
                <div class="calendar-controls">
                    <button id="prevMonth">&lt;</button>
                    <button id="nextMonth">&gt;</button>
                </div>
            </div>
            <div class="calendar-grid" id="calendarGrid">
            </div>
        </div>
        <div class="barchart-container">
        <canvas class="barchart" ></canvas>
        </div>
    </section>
</section>

<section  xmlns:th="http://www.thymeleaf.org" th:fragment="doctorDashboard">
    <section class="stats">
        <div>
            <h6>Total Patients</h6>
            <p id="totalPatientsDoc">0</p>
        </div>
        <div>
            <h6>Appointments Today</h6>
            <p id="appToday">0</p>
        </div>
        <div>
            <h6>Total Appointments</h6>
            <p id="totalAppointmentsDoc">0</p>
        </div>
    </section>

    <section class="calChart">
        <div class="calendar doctor-calendar">
            <div class="calendar-header">
                <span class="calendar-month" id="currentMonthDoc"></span>
                <div class="calendar-controls">
                    <button id="prevMonthDoc">&lt;</button>
                    <button id="nextMonthDoc">&gt;</button>
                </div>
            </div>
            <div class="calendar-grid" id="calendarGridDoc">
            </div>
        </div>
        <div class="barchart-container">
            <canvas id="doctorAgeGroupChart" class="barchartDoc" ></canvas>
        </div>
    </section>
</section>


<section  xmlns:th="http://www.thymeleaf.org" th:fragment="labTech">
    <section class="stats">
        <div>
            <h6>Total Tests</h6>
            <p id="totalTests">0</p>
        </div>
        <div>
            <h6>Pending Lab Requests</h6>
            <p id="pendingRequest">0</p>
        </div>
        <div>
            <h6>Urgent and Pending Lab Requests</h6>
            <p id="urgentPending">0</p>
        </div>
    </section>

    <section class="calChart">

    </section>
</section>

<section  xmlns:th="http://www.thymeleaf.org" th:fragment="staff">
    <div class="search2">
        <button class="primary" id="openStaffFrom" onclick="openAddStaffForm()"> Add Staff</button>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 3H2l8 9.46V19l4 2v-8.54z" />
        </svg>



    </div>
        <table class="Table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Role</td>
                    <td>Last Login</td>
                    <td>Date Addeed</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="staffTableBody" >

                
            </tbody>
        </table>
    <div class="main" th:include="addStaff::addStaffForm"></div>



</section>


<script>



</script>