<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="manifest" href="/manifest.json">

</head>
<body class="container">
<section class="form">

    <div class="form-container">
        <h1> Reset your Password</h1>

<form id="resetPasswordForm" class="form">
    <div class="form-field">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password">
    </div>
    <div class="form-field">
        <button class="primary" type="submit">Reset Password</button>
    </div>
</form>
    </div>
</section>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js')
                .then(registration => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(error => {
                    console.error('Service Worker registration failed:', error);
                });
        });
    } else {
        console.log('Service Workers are not supported by this browser.');
    }
    document.getElementById("resetPasswordForm").addEventListener("submit", async function(event) {
        event.preventDefault();

        const newPassword = document.getElementById("newPassword").value;
        const token = new URLSearchParams(window.location.search).get("token");


        try {
            const response = await fetch('/api/auth/reset-password', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ token, newPassword })
            });

            const data = await response.json();
            Toastify({
                text: data.message,
                duration: 3000,
                backgroundColor: "rgba(200,253,223,0.5)",
                close: true,
                gravity: "top",
                position: "right",
                style:{

                    color:"rgb(15,94,27)",
                    borderRadius:"8px"
                }

            }).showToast();


        } catch (error) {
            Toastify({
                text: "An unexpected error occurred. Password not reset.Please try again.",
                duration: 3000,
                backgroundColor: "rgba(253,200,200,0.5)",
                close: true,
                gravity: "top",
                position: "right",
                style:{
                    color:"rgb(167,6,14)",
                    borderRadius:"8px"
                }
            }).showToast();

        }
    });
</script>

</body>

</html>