<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/adminDashboard.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/addStaff.css">
    <link rel="stylesheet" href="css/register.css">




    <title>HOME</title>
</head>
<body>
<div class=" sidebar" th:include="sidebar::sidebar"></div>
<section class="mainBody">
<div  class="headerContainer" th:include="header::header">

</div>
<main class="adminBody">
    <section id="adminDashboard" class="section">
        <div class="main" th:include="dashboardAndStaff::adminDashboard"></div>
    </section>

    <section id="doctorDashboard" class="section">
        <div class="main" th:include="dashboardAndStaff::doctorDashboard"></div>
    </section>

    <section id="labDashboard" class="section">
        <div class="main" th:include="dashboardAndStaff::labTech"></div>
    </section>
    <!--Add Staff-->
    <section id="staff" class="section" > 
        <div class="main" th:include="dashboardAndStaff::staff"></div>
    </section>
    <!-- ADD user Admin-->
    <section id="patients" class="section" >
        <div class="main" th:include="addPatient::patient"></div>

    </section>
    <!--ADD Appointments-->
    <section id="appointments" class="section">
        <div class=" main " th:include="viewAppointments::appointments"></div>
    </section>

    <section id="testRequests" class="section">
        <div class=" main " th:include="labRequest::labRequests"></div>
    </section>

    <section id="labTests" class="section">
        <div class=" main " th:include="labRequest::addLabTests"></div>
    </section>

    <section id="labReports" class="section">
        <div class=" main " th:include="viewAppointments::appointments"></div>
    </section>

    <section id="settings" class="section" >
        <div class=" main " th:include="profileUpdate::updateProfile"></div></section>

</main>

</section>
<script src="js/sidebar.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.querySelector('.role').addEventListener('change', function() {
        var role = this.value;
        console.log("Selected Role:", role);

        var availabilitySection = document.getElementById('availability-section');

        if (role == "2") {
            availabilitySection.style.display = 'block'; // Show availability section
        } else {
            availabilitySection.style.display = 'none'; // Hide availability section
        }
    });













</script>

<footer>


</footer>

</body>
</html>