<section  xmlns:th="http://www.thymeleaf.org" th:fragment="labRequets">

    <div>

        <table class="Table" >
            <thead>
            <tr>
                <td>ID</td>
                <td>Patient</td>
                <td>Doctor</td>
                <td>Request Date</td>
                <td>Test Count</td>
                <td>Urgency</td>

                <td>Actions</td>
            </tr>
            </thead>
            <tbody id="labRequestTable">


            </tbody>
        </table>
    </div>

    <div id="overlay"></div> <div id="labDetailsModal">
    <div class="modal-body"></div>
</div>
</section>
