<section  xmlns:th="http://www.thymeleaf.org" th:fragment="labRequests">


        <div id="filterContainer">
        <div class="filters">
            <label for="dateFilter">Filter by Date:</label>
            <input type="date" id="dateFilter">

            <label for="urgencyFilter">Filter by Urgency:</label>
            <select id="urgencyFilter">
                <option value="">All</option>
                <option value="no">Routine</option>
                <option value="yes">Urgent</option>
            </select>

            <button id="applyLabFilters" class="primary">Apply Filters</button>

        </div>
        </div>
<div>


        <table class="Table" >
            <thead>
            <tr>
                <td data-sort="orderID" data-order="asc">ID <span class="sort-icon"></span></td>
                <td data-sort="userName" data-order="asc">Patient <span class="sort-icon"></span></td>
                <td data-sort="doctorName" data-order="asc">Doctor <span class="sort-icon"></span></td>
                <td data-sort="orderDate" data-order="asc">Request Date <span class="sort-icon"></span></td>
                <td data-sort="testCount" data-order="asc">Test Count <span class="sort-icon"></span></td>
                <td data-sort="urgency" data-order="asc">Urgency <span class="sort-icon"></span></td>
                <td data-sort="labStatus" data-order="asc">Status <span class="sort-icon"></span></td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody id="labRequestTable">


            </tbody>
        </table>
</div>

<div class="modal" id="labDetails">
    <div class="modal-overlay"></div>

    <div class="modal-content">


    </div>
</div>


    <div id="labResults" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="closeLabResults close" >&times</span>
            <h3>Add Lab Results</h3>
            <div id="patientDoc">


            </div>

            <table class="Table">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Test Name</td>
                    <td>Unit</td>
                    <td>Normal Range</td>
                    <td>Result Value</td>
                    <td>Notes</td>


                </tr>
                </thead>
                <tbody id="labResultTable">

                </tbody>
            </table>
            <button id="submitSingleResult" style="display: none;" class="primary" >Submit Results</button>

        </div>
    </div>



</section>

<section  xmlns:th="http://www.thymeleaf.org" th:fragment="addLabTests">

    <div class="search2">
        <button class="primary" onclick="openTest()"> Add Test</button>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 3H2l8 9.46V19l4 2v-8.54z" />
        </svg>
    </div>
    <div>
        <table class="Table" >
            <thead>
            <tr>
                <td>ID</td>
                <td>Test Name</td>
                <td>Measurement Unit</td>
                <td>Normal Range</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody id="labTestTable">
            </tbody>
        </table>
    </div>

    <div id="addTest" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeTest()">&times;</span>
            <h3>Add Lab Test</h3>

            <div class="labTest-message"></div>

            <form id="labTest" action="api/labTests/add" method="post">
                <div class="form-row">
                    <label for="testName">Test Name</label>
                    <input type="text" id="testName" name="testName">
                </div>
                <div class="form-row">
                    <label for="measurementUnit"> Measurement Unit </label>
                    <input type="text" id="measurementUnit" name="measurementUnit">
                </div>
                <div class="form-row">
                    <label for="normalRange"> Normal Range </label>
                    <input type="text" id="normalRange" name="normalRange">
                </div>
                <div class="form-row">
                    <button class="primary">Add Test</button>
                </div>
            </form>
        </div>

    </div>

    <script src="js/lab.js"></script>
    <script src="js/labTest.js"></script>
</section>