<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navBar.css"/>
    <link rel="stylesheet" href="css/patientHome.css"/>
    <style>
        .list-group-item{
            border-radius: 8px !important;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="myHeader p-2" th:include="userHome::header"></div>
        <div class="d-flex flex-column mainScreen">
            <div class="col-md-12 mt-4 mb-5 ">
                <button id="markAllReadBtn" class="primary mb-2">Mark All as Read</button>


                <ul id="notificationList" class="list-group">
                    <li class="list-group-item" th:if="${#lists.isEmpty(notifications)}">No notifications yet.</li>
                </ul>
            </div>


        </div>
        <div class="d-flex justify-content-evenly navFix" th:include="userHome::navBar" >


        </div>
    </div>
</div>
<script th:inline="javascript"  >
    let websocket;
    let userId;
    let userRole;

    function fetchSessionData() {
        fetch('/api/auth/session')
            .then(response => response.json())
            .then(data => {
                userId = data.userId;
                userRole = data.userRole;
                connectWebSocket(); // Connect WebSocket after fetching session data
            })
            .catch(error => console.error('Error fetching session data:', error));
    }

    function connectWebSocket() {
        if (userId) {
            let wsUrl = `ws://localhost:8081/ws/notifications?`;
            if (userRole === 'ROLE_PATIENT') {
                wsUrl += `userId=${userId}`;
            } else if (userRole.startsWith('ROLE_')) { // Assuming other roles are staff
                wsUrl += `staffId=${userId}`; // You are storing staffId as userId in session
            }
            websocket = new WebSocket(wsUrl);

            websocket.onopen = function() {
                console.log('WebSocket connection established.');
            };

            websocket.onmessage = function(event) {
                const notification = JSON.parse(event.data);
                console.log('Received real-time notification:', notification);
                displayNewRealTimeNotification(notification);
                updateUnreadCount(); // Assuming this function is defined elsewhere (e.g., header)
            };

            websocket.onclose = function() {
                console.log('WebSocket connection closed.');
                setTimeout(connectWebSocket, 5000); // Attempt reconnect
            };

            websocket.onerror = function(error) {
                console.error('WebSocket error:', error);
            };
        }
    }

    function displayNewRealTimeNotification(notification) {
        const notificationList = document.getElementById('notificationList');
        if (notificationList) {
            const listItem = document.createElement('li');
            listItem.classList.add('list-group-item', 'my-2', 'notification-item', 'd-flex', 'flex-column', 'align-items-start', 'unread');

            let displayType = '';
            let linkUrl = null;
            let actionElement = '';

            switch (notification.type) {
                case 'appointment':
                    displayType = 'Appointment';
                    linkUrl = '/appointment';
                    break;
                case 'appointment_followup':
                    displayType = 'Appointment Follow Up';
                    linkUrl = '/appointment';
                    break;
                case 'appointment_followup_reminder':
                    displayType = 'Follow Up Reminder';
                    linkUrl = '/appointment';
                    break;
                case 'lab_result':
                    displayType = 'Lab Result';
                    linkUrl = '/labView';
                    break;
                case 'prescription':
                    displayType = 'Prescription';
                    linkUrl = '/prescription';
                    break;
                case 'account':
                    displayType = 'Account Update';
                    linkUrl = '/settings';
                    break;
                default:
                    displayType = notification.type.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase());
            }

            listItem.innerHTML = `
                <p class="mb-1"> ${notification.message}
                </p>
                <small class="text-muted mb-1">${formatDateTime(notification.createdAt)}</small>
            `;

            if (notification.status === 'unread' && linkUrl === null) {
                actionElement = `<button class="btn btn-sm btn-outline-secondary mark-read-btn mt-1" data-notification-id="${notification.id}">Mark as Read</button>`;
            } else if (notification.status === 'unread' && linkUrl !== null) {
                actionElement = `<span class="badge view align-items-END">View</span>`;
                listItem.style.cursor = 'pointer';
                listItem.addEventListener('click', function() {
                    markNotificationAsRead(notification.id, linkUrl);
                });
            } else {
                actionElement = '<p class="badge text-muted">Read</p>';
            }

            listItem.innerHTML += actionElement;
            notificationList.prepend(listItem); // Add new notifications at the top
            // Re-attach event listener for dynamically added "Mark as Read" button
            if (notification.status === 'unread' && linkUrl === null) {
                const markReadButton = listItem.querySelector('.mark-read-btn');
                if (markReadButton) {
                    markReadButton.addEventListener('click', function(event) {
                        event.stopPropagation();
                        const notificationId = this.getAttribute('data-notification-id');
                        markNotificationAsRead(notificationId);
                    });
                }
            }
        }
    }

    function displayNotifications(notifications) {
        const notificationList = document.getElementById('notificationList');
        notificationList.innerHTML = ''; // Clear existing list

        if (notifications && notifications.length > 0) {
            notifications.forEach(notification => {
                const listItem = document.createElement('li');
                listItem.classList.add('list-group-item', 'my-2', 'notification-item', 'd-flex', 'flex-column', 'align-items-start');

                if (notification.status === 'unread') {
                    listItem.classList.add('unread');
                }
                let displayType = '';
                let linkUrl = null;
                let actionElement = '';

                switch (notification.type) {
                    case 'appointment':
                        displayType = 'Appointment';
                        linkUrl = '/appointment';
                        break;
                    case 'appointment_followup':
                        displayType = 'Appointment Follow Up';
                        linkUrl = '/appointment';
                        break;
                    case 'appointment_followup_reminder':
                        displayType = 'Follow Up Reminder';
                        linkUrl = '/appointment';
                        break;
                    case 'lab_result':
                        displayType = 'Lab Result';
                        linkUrl = '/labView';
                        break;
                    case 'prescription':
                        displayType = 'Prescription';
                        linkUrl = '/prescription';
                        break;
                    case 'account':
                        displayType = 'Account Update';
                        linkUrl = '/settings';
                        break;
                    default:
                        displayType = notification.type.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase());
                }

                listItem.innerHTML = `
                    <p class="mb-1"> ${notification.message}
                    </p>
                    <small class="text-muted mb-1">${formatDateTime(notification.createdAt)}</small>
                `;

                if (notification.status === 'unread' && linkUrl === null) {
                    actionElement = `<button class="btn btn-sm btn-outline-secondary mark-read-btn mt-1" data-notification-id="${notification.id}">Mark as Read</button>`;
                } else if (notification.status === 'unread' && linkUrl !== null) {
                    actionElement = `<span class="badge view align-items-END">View</span>`;
                    listItem.style.cursor = 'pointer';
                    listItem.addEventListener('click', function() {
                        markNotificationAsRead(notification.id, linkUrl);
                    });
                } else {
                    actionElement = '<p class="badge text-muted">Read</p>';
                }

                listItem.innerHTML += actionElement;
                notificationList.appendChild(listItem);

                if (notification.status === 'unread' && linkUrl === null) {
                    const markReadButton = listItem.querySelector('.mark-read-btn');
                    if (markReadButton) {
                        markReadButton.addEventListener('click', function(event) {
                            event.stopPropagation();
                            const notificationId = this.getAttribute('data-notification-id');
                            markNotificationAsRead(notificationId);
                        });
                    }
                }
            });
        } else {
            const listItem = document.createElement('li');
            listItem.classList.add('list-group-item');
            listItem.textContent = 'No notifications yet.';
            notificationList.appendChild(listItem);
        }
    }

    function markNotificationAsRead(notificationId, redirectUrl = null) {
        fetch(`/api/notification/markAsRead/${notificationId}`, {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    console.log(`Notification ${notificationId} marked as read`);
                    updateUnreadCount();
                    if (redirectUrl) {
                        window.location.href = redirectUrl;
                    } else {
                        fetchUserNotifications();
                    }
                } else {
                    console.error('Failed to mark as read');
                }
            })
            .catch(error => console.error('Error marking as read:', error));
    }

    function markAllAsRead() {
        fetch('/api/notification/markAllAsRead', {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    console.log('All notifications marked as read');
                    fetchUserNotifications();
                    updateUnreadCount();
                } else {
                    console.error('Failed to mark all as read');
                }
            })
            .catch(error => console.error('Error marking all as read:', error));
    }

    function formatDateTime(dateTimeString) {
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
        return new Date(dateTimeString).toLocaleDateString(undefined, options);
    }

    function fetchUserNotifications() {
        fetch('/api/notification/user')
            .then(response => response.json())
            .then(notifications => {
                displayNotifications(notifications);
            })
            .catch(error => console.error('Error fetching notifications:', error));
    }

    document.addEventListener('DOMContentLoaded', function() {
        fetchUserNotifications(); // Load initial notifications
        fetchSessionData(); // Fetch session data and then connect WebSocket

        const markAllReadBtn = document.getElementById('markAllReadBtn');
        if (markAllReadBtn) {
            markAllReadBtn.addEventListener('click', markAllAsRead);
        }
    });

</script>
</body>
</html>