<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>

    <link rel="stylesheet" href="/css/navBar.css"/>
    <link rel="stylesheet" href="css/patientHome.css"/>
    <style>
        svg {
            g, path{

                stroke:#07104E;
                color:#07104E;

            }
        }
        .nav-item a{
            text-decoration: none;
            color:#07104E;
        }
        .nav-item a:hover{
            text-decoration: none;
            color:rgb(255, 52, 147);
        }
        .row>*{
            padding-right: 0 !important;
        }
        .link-section {
            display: none; /* Initially hide all link sections */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="myHeader p-2" th:include="userHome::header"></div>
        <div class="d-flex flex-column mainScreen">
            <div class="w-100 my-5">
                <ul class="nav flex-column settingBar px-4">
                    <li class="nav-item py-4">
                        <a class="d-flex flex-row setting-link" data-target="profileSettings" href="#">
                            <svg class="me-3 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                                <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                    <path d="M24 27a8 8 0 1 0 0-16a8 8 0 0 0 0 16m0-2a6 6 0 1 0 0-12a6 6 0 0 0 0 12"/>
                                    <path d="M44 24c0 11.046-8.954 20-20 20S4 35.046 4 24S12.954 4 24 4s20 8.954 20 20M33.63 39.21A17.9 17.9 0 0 1 24 42a17.9 17.9 0 0 1-9.831-2.92q-.36-.45-.73-.93A2.14 2.14 0 0 1 13 36.845c0-1.077.774-1.98 1.809-2.131c6.845-1 11.558-.914 18.412.035A2.08 2.08 0 0 1 35 36.818c0 .48-.165.946-.463 1.31q-.461.561-.907 1.082m3.355-2.744c-.16-1.872-1.581-3.434-3.49-3.698c-7.016-.971-11.92-1.064-18.975-.033c-1.92.28-3.335 1.856-3.503 3.733A17.94 17.94 0 0 1 6 24c0-9.941 8.059-18 18-18s18 8.059 18 18a17.94 17.94 0 0 1-5.015 12.466"/>
                                </g>
                            </svg>
                            Profile Settings</a>
                    </li>
                    <li class="nav-item py-4">
                        <a class="d-flex flex-row setting-link" data-target="changePassword" href="#">
                            <svg class="me-3 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">

                                <path fill="currentColor" d="M46 56v144a6 6 0 0 1-12 0V56a6 6 0 0 1 12 0m94.58 56.41L118 119.74V96a6 6 0 0 0-12 0v23.74l-22.58-7.33a6 6 0 1 0-3.71 11.41l22.58 7.33l-14 19.21a6 6 0 1 0 9.7 7.06l14-19.21l14 19.21a6 6 0 0 0 9.7-7.06l-14-19.21l22.58-7.33a6 6 0 1 0-3.71-11.41Zm103.56 3.85a6 6 0 0 0-7.56-3.85L214 119.74V96a6 6 0 0 0-12 0v23.74l-22.58-7.33a6 6 0 1 0-3.71 11.41l22.58 7.33l-13.95 19.21a6 6 0 1 0 9.7 7.06l14-19.21l14 19.21a6 6 0 0 0 9.7-7.06l-13.95-19.21l22.58-7.33a6 6 0 0 0 3.77-7.56" stroke-width="6.5" stroke="currentColor" />

                            </svg>
                            Change Password</a>
                    </li>
                    <li class="nav-item py-4">
                        <a class="d-flex flex-row setting-link" data-target="logout" href="#">
                            <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M5.616 20q-.691 0-1.153-.462T4 18.384V5.616q0-.691.463-1.153T5.616 4h6.403v1H5.616q-.231 0-.424.192T5 5.616v12.769q0 .23.192.423t.423.192h6.404v1zm10.846-4.461l-.702-.72l2.319-2.319H9.192v-1h8.887l-2.32-2.32l.702-.718L20 12z" />
                            </svg>
                            Logout</a>
                    </li>
                    <li class="nav-item py-4">
                        <a class="d-flex flex-row setting-link" data-target="deleteAccount" href="#">

                            <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                                <path fill="currentColor" d="M9.5 9a1.5 1.5 0 0 1 1.5 1.5v.5c0 1.971-1.86 4-5 4s-5-2.029-5-4v-.5A1.5 1.5 0 0 1 2.5 9zm0 1h-7a.5.5 0 0 0-.5.5v.5c0 1.438 1.432 3 4 3s4-1.562 4-3v-.5a.5.5 0 0 0-.5-.5M6 2.5A2.75 2.75 0 1 1 6 8a2.75 2.75 0 0 1 0-5.5m0 1A1.75 1.75 0 1 0 6 7a1.75 1.75 0 0 0 0-3.5m4.784-2.411l.07.057L12.5 2.793l1.646-1.647a.5.5 0 0 1 .708.708L13.207 3.5l1.647 1.646a.5.5 0 0 1 .057.638l-.057.07a.5.5 0 0 1-.638.057l-.07-.057L12.5 4.207l-1.646 1.647a.5.5 0 0 1-.708-.708L11.793 3.5l-1.647-1.646a.5.5 0 0 1-.057-.638l.057-.07a.5.5 0 0 1 .562-.1z" stroke-width="0.2" />
                            </svg>
                            Delete Account</a>
                    </li>

                </ul>

                <div class="row px-4 w-100 link-section" id="changePassword" style="display: none;">
                    <div class="d-flex mb-3">
                        <span class=" align-self-start me-5 back-to-settings" aria-label="Back">
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
 	                            <path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64" stroke-width="25.5" stroke="currentColor" />
 	                            <path fill="currentColor" d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312z" stroke-width="25.5" stroke="currentColor" />
                             </svg>
                         </span>
                        <h4> Change Password</h4>
                    </div>
                    <form id="resetPasswordForm">

                        <div class="mb-3">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required placeholder="Enter your current password">
                        </div>
                        <div class="mb-3">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required placeholder="Enter your new password">
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword">Current Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="currentPassword" required placeholder="Re-enter your new password">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="primary">Change Password</button>

                        </div>
                    </form>
                </div>
                <div id="profileSettings" class="row px-4 w-100 link-section">
                    <div class="d-flex mb-3">
                         <span class=" align-self-start me-5 back-to-settings" aria-label="Back">
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
 	                            <path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64" stroke-width="25.5" stroke="currentColor" />
 	                            <path fill="currentColor" d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312z" stroke-width="25.5" stroke="currentColor" />
                             </svg>
                         </span>
                        <h4 class="justify-self-center"> Update Profile Details</h4>
                    </div>

                    <div class="col-md-4 my-3">
                            <div class="mt-3 d-flex align-items-center">
                                <img id="profileImage" src="path/to/profile-image.jpg" alt="image/iconamoon--profile-circle-thin.svg" class="rounded-circle image-fluid mx-3" style="cursor: zoom-in;" onclick="zoomImage()">
                                <input type="file" id="imageUpload" accept="image/*" class="form-control mb-2">
                            </div>
                            <div class="mt-3 d-flex ">
                                <button class="primary m-1" onclick="updateProfileImage()">Update</button>
                                <button class="btn btn-outline-danger btn-sm m-1" onclick="deleteProfileImage()">Delete</button>
                            </div>
                    </div>
                    <form id="profileUpdate">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required >
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" required >
                        </div>
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" required >
                        </div>
                        <div class="mb-3">
                            <label for="gender" >Gender</label>
                            <select id="gender" class="form-control" name="gender">
                                <option class="form-control" value="Female">Female</option>
                                <option class="form-control" value="Male">Male</option>
                                <option class="form-control" value="Other"> Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" name="age" required >
                        </div>
                        <div class="mb-3">
                            <label for="weight">Weight</label>
                            <input type="number" class="form-control" id="weight" name="weight" required >
                        </div>
                        <div class="mb-3">
                            <label for="bloodType">Blood Type</label>
                            <input type="text" class="form-control" id="bloodType" name="bloodType" required >
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="primary">Update</button>
                        </div>
                    </form>
                </div>
                <div id="logout" class="row px-4 w-100 link-section">
                    <div class="d-flex mb-3">
                         <span class=" align-self-start me-5 back-to-settings" aria-label="Back">
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
 	                            <path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64" stroke-width="25.5" stroke="currentColor" />
 	                            <path fill="currentColor" d="m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312z" stroke-width="25.5" stroke="currentColor" />
                             </svg>
                         </span>
                    <h4>Logout</h4>
                    </div>
                    <div class="mb-3">
                    <p >Are you sure you want to logout?</p>
                    </div>
                    <div class="mb-3">
                    <button class="primary" onclick="performLogout()">Logout</button>
                    </div>
                </div>

                <div id="deleteAccount" class="link-section">
                    <h2>Delete Account</h2>
                    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                </div>
            </div>


        </div>
        <div class="d-flex justify-content-evenly navFix" th:include="userHome::navBar" >
        </div>


    </div>
</div>
<script>


    document.addEventListener('DOMContentLoaded', function() {
        const settingLinks = document.querySelectorAll('.setting-link');
        const settingBar = document.querySelector('.settingBar');
        const linkSections = document.querySelectorAll('.link-section');
        const profileUpdateForm = document.getElementById('profileUpdate');
        const imageUploadInput = document.getElementById('imageUpload');
        const profileImageElement = document.getElementById('profileImage');
        const nameInput = document.getElementById('name');
        const phoneInput = document.getElementById('phone');
        const addressInput = document.getElementById('address');
        const genderSelect = document.getElementById('gender');
        const ageInput = document.getElementById('age');
        const weightInput = document.getElementById('weight');
        const bloodTypeInput = document.getElementById('bloodType');



        let profileDataLoaded = false; // Flag to track if profile data has been loaded

        // Function to retrieve the logged-in user's ID from the session API
        function getLoggedInUserId() {
            return fetch('/api/auth/session')
                .then(response => response.json())
                .then(data => {
                    return data.userId;
                })
                .catch(error => {
                    console.error('Error fetching session data:', error);
                    Toastify({
                        text: 'Failed to retrieve session information.',
                        duration: 3000,
                        backgroundColor: "rgba(253,200,200)",
                        close: true,
                        gravity: "top",
                        position: "right",
                        borderRadius:"8px",
                        style:{
                            color:"rgb(167,6,14)",
                            borderRadius:"8px"
                        },
                        onClick: function(){}
                    }).showToast();
                    return null;
                });
        }

        // Function to load profile data from the backend
        function loadProfileData() {
            return getLoggedInUserId()
                .then(userId => {
                    if (userId) {
                        return fetch(`/api/user/${userId}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(`HTTP error! status: ${response.status}`);
                                }
                                return response.json();
                            })
                            .then(data => {
                                // Populate the form fields with the fetched data
                                nameInput.value = data.name || '';
                                phoneInput.value = data.phone || '';
                                addressInput.value = data.address || '';
                                genderSelect.value = data.gender || 'Female'; // Set a default if needed
                                ageInput.value = data.age || '';
                                weightInput.value = data.weight || '';
                                bloodTypeInput.value = data.bloodType || '';
                                if (data.image) {
                                    profileImageElement.src = '/image/'+ data.image;
                                } else {
                                    profileImageElement.src = 'image/iconamoon--profile-circle-thin.svg'; // Set a default image
                                }
                                return userId; // Resolve with userId for the next chain
                            })
                            .catch(error => {
                                console.error('Error fetching profile data:', error);
                                Toastify({
                                    text: 'Failed to load profile information.',
                                    duration: 3000,
                                    backgroundColor: "rgba(253,200,200)",
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    borderRadius:"8px",
                                    style:{
                                        color:"rgb(167,6,14)",
                                        borderRadius:"8px"
                                    },
                                    onClick: function(){}
                                }).showToast();
                                return null; // Reject the promise chain
                            });
                    }
                    return null; // Reject if no userId
                });
        }
        linkSections.forEach(section => {
            const backButton = section.querySelector('.back-to-settings');
            if (backButton) {
                backButton.addEventListener('click', function() {
                    settingBar.style.display = 'flex';
                    linkSections.forEach(s => {
                        s.style.display = 'none';
                    });
                    section.style.display = 'none'; // Hide the current section
                    profileDataLoaded = false; // Reset flag if it was the profile section
                });
            }
        });

        settingLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const targetId = this.getAttribute('data-target');

                // Hide setting bar and all link sections
                settingBar.style.display = 'none';
                linkSections.forEach(section => {
                    section.style.display = 'none';
                });

                document.getElementById(targetId).style.display = 'block';

                if (targetId === 'profileSettings' && !profileDataLoaded) {
                    loadProfileData()
                        .then(() => {
                            profileDataLoaded = true;
                        });
                }
            });
        });


        // Function to handle profile update submission
        profileUpdateForm.addEventListener('submit', function(event) {
            event.preventDefault();

            getLoggedInUserId() // Get the user ID before updating
                .then(userId => {
                    if (userId) {
                        const formData = new FormData();
                        formData.append('name', nameInput.value);
                        formData.append('phone', phoneInput.value);
                        formData.append('address', addressInput.value);
                        formData.append('gender', genderSelect.value);
                        formData.append('age', ageInput.value);
                        formData.append('weight', weightInput.value);
                        formData.append('bloodType', bloodTypeInput.value);

                        const imageFile = imageUploadInput.files[0];
                        if (imageFile) {
                            formData.append('image', imageFile);
                        }

                        fetch(`/api/user/update/${userId}`, { // Include the userId in the update URL
                            method: 'PUT',
                            body: formData,
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message) {
                                    Toastify({
                                        text: data.message,
                                        duration: 3000,
                                        backgroundColor: "rgba(200,253,223)",
                                        gravity: "top",
                                        position: "right",
                                        style:{
                                            color:"rgb(15,94,27)",
                                            borderRadius:"8px"
                                        },
                                        onClick: function(){}
                                    }).showToast();
                                    // Optionally, reload profile data to reflect changes
                                    loadProfileData();
                                } else if (data.error) {
                                    Toastify({
                                        text: data.error,
                                        duration: 3000,
                                        backgroundColor: "rgba(253,200,200)",
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        borderRadius:"8px",
                                        style:{
                                            color:"rgb(167,6,14)",
                                            borderRadius:"8px"
                                        },
                                        onClick: function(){}
                                    }).showToast();
                                }
                            })
                            .catch(error => {
                                Toastify({
                                    text: 'An error occurred while updating your profile.',
                                    duration: 3000,
                                    backgroundColor: "rgba(253,200,200)",
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    borderRadius:"8px",
                                    style:{
                                        color:"rgb(167,6,14)",
                                        borderRadius:"8px"
                                    },
                                    onClick: function(){}
                                }).showToast();
                                console.error('Error updating profile:', error);
                            });
                    }
                });
        });

        window.updateProfileImage = function() {
            getLoggedInUserId()
                .then(userId => {
                    if (userId) {
                        const imageFile = imageUploadInput.files[0];
                        if (!imageFile) {
                            Toastify({
                                text: 'Please select an image to upload.',
                                duration: 2000,
                                backgroundColor: "rgba(253,200,200)",
                                close: true,
                                gravity: "top",
                                position: "right",
                                borderRadius:"8px",
                                style:{
                                    color:"rgb(167,6,14)",
                                    borderRadius:"8px"
                                },
                                onClick: function(){}
                            }).showToast();
                            return;
                        }

                        const formData = new FormData();
                        formData.append('image', imageFile);

                        fetch(`/api/user/update/${userId}`, {
                            method: 'PUT',
                            body: formData,
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message) {
                                    Toastify({
                                        text: 'Profile image updated successfully.',
                                        duration: 3000,
                                        backgroundColor: "rgba(200,253,223)",
                                        gravity: "top",
                                        position: "right",
                                        style:{
                                            color:"rgb(15,94,27)",
                                            borderRadius:"8px"
                                        },
                                        onClick: function(){}
                                    }).showToast();
                                    if (data.image) {
                                        profileImageElement.src = data.image ;
                                    } else {
                                        loadProfileData(); // Reload data to get the updated image URL
                                    }
                                } else if (data.error) {
                                    Toastify({
                                        text: data.error,
                                        duration: 3000,
                                        backgroundColor: "rgba(253,200,200)",
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        borderRadius:"8px",
                                        style:{
                                            color:"rgb(167,6,14)",
                                            borderRadius:"8px"
                                        },
                                        onClick: function(){}
                                    }).showToast();
                                }
                            })
                            .catch(error => {
                                Toastify({
                                    text: 'An error occurred while updating the profile image.',
                                    duration: 3000,
                                    backgroundColor: "rgba(253,200,200)",
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    borderRadius:"8px",
                                    style:{
                                        color:"rgb(167,6,14)",
                                        borderRadius:"8px"
                                    },
                                    onClick: function(){}
                                }).showToast();
                                console.error('Error updating profile image:', error);
                            });
                    }
                });
        };

        // Image delete function
        window.deleteProfileImage = function() {
            getLoggedInUserId()
                .then(userId => {
                    if (userId) {
                        fetch(`/api/user/update/${userId}`, { // Assuming image deletion uses the update endpoint with null image
                            method: 'PUT',
                            body: JSON.stringify({ image: null }), // Or however your backend handles image deletion
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message) {
                                    Toastify({
                                        text: 'Profile image deleted successfully.',
                                        duration: 3000,
                                        backgroundColor: "rgba(200,253,223)",
                                        gravity: "top",
                                        position: "right",
                                        style:{
                                            color:"rgb(15,94,27)",
                                            borderRadius:"8px"
                                        },
                                        onClick: function(){}
                                    }).showToast();
                                    profileImageElement.src = 'image/iconamoon--profile-circle-thin.svg';
                                } else if (data.error) {
                                    Toastify({
                                        text: data.error,
                                        duration: 3000,
                                        backgroundColor: "rgba(253,200,200)",
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        borderRadius:"8px",
                                        style:{
                                            color:"rgb(167,6,14)",
                                            borderRadius:"8px"
                                        },
                                        onClick: function(){}
                                    }).showToast();
                                }
                            })
                            .catch(error => {
                                Toastify({
                                    text: 'An error occurred while deleting the profile image.',
                                    duration: 3000,
                                    backgroundColor: "rgba(253,200,200)",
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    borderRadius:"8px",
                                    style:{
                                        color:"rgb(167,6,14)",
                                        borderRadius:"8px"
                                    },
                                    onClick: function(){}
                                }).showToast();
                                console.error('Error deleting profile image:', error);
                            });
                    }
                });
        };

    });

    function performLogout() {
        fetch('/api/auth/logout', {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/login'; // Redirect to login page after successful logout
                } else {
                    Toastify({
                        text: 'Failed to logout.',
                        duration: 3000,
                        backgroundColor: "rgba(253,200,200)",
                        close: true,
                        gravity: "top",
                        position: "right",
                        borderRadius:"8px",
                        style:{
                            color:"rgb(167,6,14)",
                            borderRadius:"8px"
                        },
                        onClick: function(){}
                    }).showToast();
                }
            })
            .catch(error => {
                console.error('Error during logout:', error);
                Toastify({
                    text: 'An error occurred during logout.',
                    duration: 3000,
                    backgroundColor: "rgba(253,200,200)",
                    close: true,
                    gravity: "top",
                    position: "right",
                    borderRadius:"8px",
                    style:{
                        color:"rgb(167,6,14)",
                        borderRadius:"8px"
                    },
                    onClick: function(){}
                }).showToast();
            });
    }
    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const currentPassword = document.getElementById('currentPassword').value;
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== confirmPassword) {
            Toastify({
                text: "New passwords do not match",
                duration: 3000,
                backgroundColor: "rgba(253,200,200)",
                close: true,
                gravity: "top",
                position: "right",
                borderRadius:"8px",
                style:{
                    color:"rgb(167,6,14)",
                    borderRadius:"8px"
                },onClick: function(){}
            }).showToast();
            return;
        }

        fetch('api/user/reset-password?currentPassword=' + encodeURIComponent(currentPassword) + '&newPassword=' + encodeURIComponent(newPassword), {
            method: 'POST',
        })
            .then(response => response.json())
            .then(data => {
                if (data.message.includes('successful')) {
                    Toastify({
                        text: data.message,
                        duration: 1500,
                        backgroundColor: "rgba(200,253,223)",
                        gravity: "top",
                        position: "right",

                        style:{

                            color:"rgb(15,94,27)",
                            borderRadius:"8px"
                        },onClick: function(){}
                    }).showToast();
                    setTimeout(() => {
                        window.location.href = data.redirectUrl;
                    }, 3000); // 3-second delay
                } else {
                    Toastify({
                        text: data.message,
                        duration: 3000,
                        backgroundColor: "linear-gradient(to right, #FF0000, #FF3333)",
                    }).showToast();
                }
            })
            .catch(error => {
                Toastify({
                    text: error.message || "Invalid credentials!",
                    duration: 3000,
                    backgroundColor: "rgba(253,200,200)",
                    close: true,
                    gravity: "top",
                    position: "right",
                    borderRadius:"8px",
                    style:{
                        color:"rgb(167,6,14)",
                        borderRadius:"8px"
                    },onClick: function(){}
                }).showToast();
            });
    });
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>
</html>