<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking</title>
    <link  href="css/default.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navBar.css">
</head>
<body>
<div  th:include="phoneHeader::header"></div>
<div class= "fixed-bottom" th:include="navBar::navBar"></div>
</body>
</html>